---
layout: default
---

<div class="home">
  <img class="me" src="assets/me400x400.jpg">
  <div class="text">
    <p>
        Hi, I'm Gordon Leigh, a highly motivated and skilled software engineer with a masters degree in electrical and mechanical engineering.  I previously ran a software product development consultancy, delivering bespoke software for clients across several industries.  I don't limit myself to a single technology stack—I use the right tools for the current job, and continually learn new things to keep my skills sharp.  I like work that stretches me mentally, lets me learn new things, and provides an opportunity for me to deliver a fantastic solution.
    </p>
    <div class="btn-bar">
      <a href="/contact/" class="btn is-primary">Hire me!</a>
      <a href="/cv/" class="btn">View CV</a>
      <a href="/contact/" class="btn">Get in touch</a>
    </div>
  </div>
</div>
